{% extends 'base.html' %}
{% block title %} Events {% endblock %}
{% block extra-head %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

{% endblock %}
{% block body %}
<div class='breadcrumbs'>
    <div class='container'>
        <h1 class='pull-left'>Life Logger</h1>
        <ul class='pull-right breadcrumb'>
            <li><a href='/'>Home</a></li>
            <li class='active'><a href='/queries/'>Queries</a></li>
        </ul>
    </div>
</div>
<br>
<div class='container'>    
    <div class='col-lg-2'></div>
    <div class='queries_div col-lg-8'>
        <form class="query_form form-inline">
            <div class='form-group col-lg-12'>
                <div class='col-lg-6'>
                    <label for='name'>Name</label>
                    <input autofocus class="query_name form-control" placeholder='Input name' type='text' name='name'>
                </div>
                <div class='col-lg-6'>
                    <label for='raw'>Query</label>
                    <input class="query_raw form-control" placeholder='Input query' type='text' name='raw'>
                </div>
            </div>
            <div class='form-group col-lg-12'>
                <div class='col-lg-6'>
                <label for='key'>Key</label>
                <input class="query_key form-control" placeholder='' type='text' name='key'>
                </div>
                <div class='col-lg-6'>
                <label for='f'>Func</label>
                <input class="query_f form-control" placeholder='len' type='text' name='f'>
                </div>
            </div>
            <div class='form-group col-lg-1'>
                <button class='btn btn-default query_button' type='submit'>Submit!</button>
            </div>
        </form>
    </div>
    <div class='status col-lg-3'>
    </div>
</div>
<br><br>
<div class='container'>
    <div class='queries_div col-lg-10 col-lg-offset-2'>
        <table id="queries_table" class="display" cellspacing="0" width="100%">
            <thead><tr><th>Name</th><th>Query</th><th>key</th><th>f</th><th>Count</th><th>Value</th><th>action</th></tr></thead>
            <tfoot><tr><th>Name</th><th>Query</th><th>key</th><th>f</th><th>Count</th><th>Value</th><th>action</th></tr></tfoot>
        </table>
    </div>
</div>
{% endblock %}


{% block extra-js %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script>

$(document).ready(function(){

function status(s, clear, success){
    clear = typeof clear !== 'undefined' ? clear : false
    s = typeof s !== 'undefined' ? s : ''
    success = success ? 'success' : 'danger'
    if(clear){
        $('.status').html('');
    }else{
        $('.status').html('<div class="alert alert-'+success+'"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>' + s + '<span class="glyphicon glyphicon-remove pull-right status_close"></span></div></div>');
    }
}

$('.status').click(function(e){
    status('', true);
});

queries_url = '/api/queries/'


var t = $('#queries_table').DataTable({
    'ajax': queries_url,
    'order': [[0, 'asc']],
    'rowId': 'id',
    'columnDefs': [{'targets': 0, 'width': '15%', 'data':null, 'render': function(data,type,full,meta){return '<a href=/events/?query_id='+full['id']+'>'+data+'</a>'}},{'targets': -1, 'width': '10%', 'data':null, 
    'defaultContent': '<i class="glyphicon glyphicon-pencil"></i><i class="text-danger glyphicon glyphicon-remove query_delete"></i>'}],
    //'defaultContent': '<button>Click</button>'}],
    'columns': [{'data':'name'}, {'data':'raw'}, {'data':'key'}, {'data':'f_raw'}, {'data':'count'}, {'data':'value'},  null]
});


post = function(url, data, success){
    data['csrfmiddlewaretoken'] = '{{ csrf_token }}'; 
    $.ajax({type: "POST",
            url: url,
            data: data,
            success: function(result){
                $('.status').html(result);
                success(result);
                status('success', false, true);
            },
            error: function(result){
                status(result['responseJSON']['message'], false, false);    
            }
          });
}

$('.query_form').submit(function(e){
    e.preventDefault();
    data = {};
    data['name'] = $('.query_name').val();
    data['raw'] = $('.query_raw').val();
    data['key'] = $('.query_key').val();
    data['f_raw'] = $('.query_f').val();
    post(queries_url, data, function(result){{% if query_id %} t.ajax.reload() {% else %}t.row.add(result['data'][0]).draw(false){% endif %} });
});

$('#queries_table tbody').on('click', 'i.query_delete', function(){
    var data = t.row($(this).parents('tr')).data();
    var id = $(this).parents('tr').attr('id');
    var f = function(thing){
            return function(result){t.row($(thing).parents('tr')).remove().draw(false)};
        }
    f = f(this);
    post('/api/queries/', {'id': id, 'action': 'delete'}, f);
});

});
</script>
{% endblock %}
